<!-- START FOOTER -->
<div class="row-trang">
  <footer>
    <div class="footer">
      <div class="row-footer">
        <div class="colum">
          <h3>Call Us</h3>
          <h3 style="color: black">
            <ion-icon name="call-outline"></ion-icon>
            <table>
              0357xxxxxxx
            </table>
          </h3>
          <h3>Email</h3>
          <h3 style="color: black">
            <ion-icon name="mail-outline"></ion-icon>
            <table>
              phihoangha@gmail.com
            </table>
          </h3>
        </div>
        <div class="colum">
          <h3>About Us</h3>
          <ul>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Travel Blog & Tips</a></li>
            <li><a href="#">Working With Us</a></li>
            <li><a href="#">Be Our Partner</a></li>
          </ul>
        </div>
        <div class="colum">
          <h3>Support</h3>
          <ul>
            <li><a href="#">Customer Support</a></li>
            <li><a href="#">Privacy & Policy</a></li>
            <li><a href="#">Contact Channels</a></li>
          </ul>
        </div>
        <div class="colum">
          <h3>Pay Safely With Us</h3>
          <ul>
            <li>
              <a href="#"
                >The payment is encrypted and transmitted securely with an SSL
                protocol.</a
              >
            </li>
            <li>
              <img src="../../public/images/logoVS.png" class="img-card" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="footer2">
    <div class="footer">
      <div class="row-footer2">
        <div class="colum-2">
          <h3 class="content-H3">2023 Travel Tour All Right Reserved</h3>
        </div>
        <div class="colum-2">
          <h3 class="content-H3">
            Follow Us On
            <a href="#" class="linkFB"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
            <a href="#"><i class="bx bxl-pinterest-alt"></i></a>
            <a href="#"><i class="bx bxl-vimeo"></i></a>
          </h3>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- START FOOTER -->
