<div class="Div-Menu" id="Div-Menu">
  <nav class="menu-toggle" id="menu-toggle">
    <div class="home-back">
      <div class="button-Homeback">
        <i class="bx bxs-home hideHome" id="Home"></i>
      </div>
      <div class="button-Homeback">
        <i class="bx bx-arrow-back hideHome" id="back"></i>
      </div>
    </div>
    <ul class="menu-toggle-mobile">
      <li><label class="link-mobile colum1">TOUR MIỀN BẮC</label></li>
      <li><label class="link-mobile colum2">TOUR MIỀN TRUNG</label></li>
      <li><label class="link-mobile colum3">TOUR MIỀN NAM</label></li>
      <li><label class="link-mobile colum4">TOUR MIỀN TÂY NAM BỘ</label></li>
      <li><label class="link-mobile colum5">TOUR KHÁCH ĐOÀN</label></li>
    </ul>
  </nav>
  <nav class="menu-con" id="menu-con1">
    <div class="home-back">
      <div class="button-Homeback2" id="button-Homeback1">
        <i class="bx bxs-home hideHome2" id="Home"></i>
      </div>
      <div class="button-Homeback2" id="button-Homeback1">
        <i class="bx bx-x hideHome2" id="back1"></i>
      </div>
    </div>
    <ul class="menu-toggle-mobile">
      <li><label class="link-mobile2 link-menu-con1">Du lịch Hà Nội</label></li>
      <li>
        <label class="link-mobile2 link-menu-con1">Du lịch Miền Bắc</label>
      </li>
      <li>
        <label class="link-mobile2 link-menu-con1">Du lịch Hạ Long</label>
      </li>
      <li><label class="link-mobile2 link-menu-con1">Du lịch Sapa</label></li>
      <li>
        <label class="link-mobile2 link-menu-con1"
          >Du lịnh Đông - Tây Bắc</label
        >
      </li>
    </ul>
  </nav>
  <nav class="menu-con" id="menu-con2">
    <div class="home-back">
      <div class="button-Homeback2" id="button-Homeback2">
        <i class="bx bxs-home hideHome2" id="Home"></i>
      </div>
      <div class="button-Homeback2" id="button-Homeback2">
        <i class="bx bx-x hideHome2" id="back2"></i>
      </div>
    </div>
    <ul class="menu-toggle-mobile">
      <li>
        <label class="link-mobile2 link-menu-con2"
          >Du lịch Đà Nẵng - Hội An</label
        >
      </li>
      <li>
        <label class="link-mobile2 link-menu-con2"
          >Du lịch Quy Nhơn - Tùy Hóa</label
        >
      </li>
      <li>
        <label class="link-mobile2 link-menu-con2"
          >Du lịch Quảng Bình - Quảng Ngãi</label
        >
      </li>
      <li><label class="link-mobile2 link-menu-con2">Du lịch Huế</label></li>
      <li>
        <label class="link-mobile2 link-menu-con2">Du lịnh Tây Nguyên</label>
      </li>
    </ul>
  </nav>
  <nav class="menu-con" id="menu-con3">
    <div class="home-back">
      <div class="button-Homeback2" id="button-Homeback3">
        <i class="bx bxs-home hideHome2" id="Home"></i>
      </div>
      <div class="button-Homeback2" id="button-Homeback3">
        <i class="bx bx-x hideHome2" id="back3"></i>
      </div>
    </div>
    <ul class="menu-toggle-mobile">
      <li>
        <label class="link-mobile2 link-menu-con3">Du lịch Phú Quốc</label>
      </li>
      <li>
        <label class="link-mobile2 link-menu-con3">Du lịch Nha Trang</label>
      </li>
      <li>
        <label class="link-mobile2 link-menu-con3"
          >Du lịch TP. Hồ Chí Minh</label
        >
      </li>
      <li>
        <label class="link-mobile2 link-menu-con3">Du lịch Côn Đảo</label>
      </li>
      <li><label class="link-mobile2 link-menu-con3">Du lịnh Đà Lạt</label></li>
    </ul>
  </nav>
  <nav class="menu-con" id="menu-con4">
    <div class="home-back">
      <div class="button-Homeback2" id="button-Homeback4">
        <i class="bx bxs-home hideHome2" id="Home"></i>
      </div>
      <div class="button-Homeback2" id="button-Homeback4">
        <i class="bx bx-x hideHome2" id="back4"></i>
      </div>
    </div>
    <ul class="menu-toggle-mobile">
      <li>
        <label class="link-mobile2 link-menu-con4">Du lịch Tiền Giang</label>
      </li>
      <li>
        <label class="link-mobile2 link-menu-con4">Du lịch Cần Thơ</label>
      </li>
      <li>
        <label class="link-mobile2 link-menu-con4">Du lịch Vĩnh Long</label>
      </li>
      <li>
        <label class="link-mobile2 link-menu-con4">Du lịch Sóc Trăng</label>
      </li>
    </ul>
  </nav>
  <nav class="menu-con" id="menu-con5">
    <div class="home-back">
      <div class="button-Homeback2" id="button-Homeback5">
        <i class="bx bxs-home hideHome2" id="Home"></i>
      </div>
      <div class="button-Homeback2" id="button-Homeback5">
        <i class="bx bx-x hideHome2" id="back5"></i>
      </div>
    </div>
    <ul class="menu-toggle-mobile">
      <li>
        <label class="link-mobile2 link-menu-con5"
          >Cát Bà - Cô Tô - Quan Lạn</label
        >
      </li>
      <li>
        <label class="link-mobile2 link-menu-con5">Hạ Long - Móng Cái</label>
      </li>
      <li>
        <label class="link-mobile2 link-menu-con5"
          >Sầm Sơn - Hải Tiến - Cửa Lò</label
        >
      </li>
      <li>
        <label class="link-mobile2 link-menu-con5">Hà Tĩnh - Quảng Bình</label>
      </li>
    </ul>
  </nav>
</div>
<div class="container-fluid p-0 bg-light">
  <!-- HEADER -->
  <div class="row">
    <div class="wapper1">
      <div class="top-header">
        <nav>
          <ul id="connect1">
            <li>
              <a href=""
                ><i class="bx bxs-phone"></i>
                <table>
                  0357xxxxxxx
                </table>
              </a>
            </li>
            <li>
              <a href=""
                ><i class="bx bxl-gmail"></i>
                <table>
                  phihoangha@gmail.com
                </table>
              </a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul id="connect2">
            <li>
              <a href=""><i class="bx bxl-facebook-circle"></i></a>
            </li>
            <li>
              <a href=""><i class="bx bxs-message-alt-dots"></i></a>
            </li>
            <li>
              <a href=""><i class="bx bxl-google"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="wrapper2">
      <header class="style-header">
        <div class="inner-header container">
          <a href="/" id="logo">Thanh Thanh Travel</a>
          <div class="toggle" id="toggle">
            <ion-icon name="menu-outline" class="menu-mobile"></ion-icon>
          </div>
          <nav class="nav-menu">
            <ul class="main-menu">
              <li>
                <a href="" class="document-a">TOUR MIỀN BẮC</a>
                <ul class="sub-menu">
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Hà Hội</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu"
                      >Du lịch lễ hội miền bắc</a
                    >
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Hạ Long</a>
                  </li>
                  <li><a href="" class="document-sub-menu">Du lịch Sapa</a></li>
                  <li>
                    <a href="" class="document-sub-menu"
                      >Du lịch Đông - Tây Bắc</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="" class="document-a">TOUR MIỀN TRUNG</a>
                <ul class="sub-menu">
                  <li>
                    <a href="" class="document-sub-menu"
                      >Du lịch Đà Năng - Hội An</a
                    >
                  </li>
                  <li>
                    <a href="" class="document-sub-menu"
                      >Du lịch Quy Nhơn - Tuy Hòa</a
                    >
                  </li>
                  <li>
                    <a href="" class="document-sub-menu"
                      >Du lịch Quảng Bình - Quảng Ngãi</a
                    >
                  </li>
                  <li><a href="" class="document-sub-menu">Du lịch Huế</a></li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Tây Nguyên</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="" class="document-a">TOUR MIỀN NAM</a>
                <ul class="sub-menu">
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Phú Quốc</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Nha Trang</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu"
                      >Du lịch TP. Hồ Chí Minh</a
                    >
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Côn Đảo</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Đà Lạt</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="" class="document-a">TOUR MIỀN TÂY NAM BỘ</a>
                <ul class="sub-menu">
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Tiền Giang</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Cần Thơ</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Vĩnh Long</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Du lịch Sóc Trăng</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="" class="document-a">TOUR KHÁCH ĐOÀN</a>
                <ul class="sub-menu">
                  <li>
                    <a href="" class="document-sub-menu"
                      >Cát Bà Cô Tô - Quan Lạn</a
                    >
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Hạ Long - Móng Cái</a>
                  </li>
                  <li>
                    <a href="" class="document-sub-menu"
                      >Sầm Sơn - Hải Tiến - Cửa Lò</a
                    >
                  </li>
                  <li>
                    <a href="" class="document-sub-menu">Hà Tĩnh Quảng Bình</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
  </div>
  <!-- END HEADER -->
</div>
