<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Booking form
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-bottom">
        <div>
          <p class="Tname">Tên Tour :<b> Tour du lịch Đà Nẵng</b></p>
          <p class="Tgia">Giá Tour : <span style="color: red"> 190.000 </span>VNĐ</p>
        </div>
      </div>
      <div class="modal-body">
        <form action="/" id="datTour" method="post">
          <div class d-none>
            <input type="hidden" name="matour" value="">
            <input type="hidden" name="tentour" value="">
            <input type="hidden" name="giatour" value="">
          </div> 
          <div class="mb-2">
            <label for="hovaten" class="form-label">Họ và tên <span style="color: red">*</span></label>
            <input type="text" class="form-control" id="hovaten" name="hovaten" required />
          </div>
          <div class="mb-2">
            <label for="sdt" class="form-label">Số điện thoại <span
                style="color: red">*</span></label>
            <input type="text" class="form-control" id="sdt" name="sdt" required />
          </div>
          <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" />
          </div>
          <div class="mb-2">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" name="message"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Thoát
        </button>
        <button type="submit" form="datTour" class="btn btn-primary">
          Đặt Tour
        </button>
      </div>
    </div>
  </div>
</div>

<script src="../../public/scripts/modal_getdata.js"></script>