<div class="my-5">
    <div class="container">
      <h2 class="my-3 text-center fw-bold Title">Khách hàng nói gì về T&T Travel</h2>
      <div class="row align-items-center">
        <div class="col-md-5 text-center feature">
          <img src="../../public/images/Anh_FeedBack_1.jpg" alt="Ảnh người" class="img-fluid">
        </div>
        <div class="col-md-4 text-center feature">
          <p class="Para ">" Ba người đã đi  Vịnh Hạ Long. Cảm ơn hướng dẫn viên Công ty T&T Travel đã hướng dẫn tận tình giúp đoàn có một kì nghỉ tuyệt vời "</p>
          <h4 class="Name" >Anh Trung</h4>
          <p class="Para ">Doanh Nhân</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-5 text-center feature">
          <img src="../../public/images/Anh_FeedBack_2.png" alt="Ảnh người" class="img-fluid">
        </div>
        <div class="col-md-4 text-center feature">
          <p class="Para ">" Chúng tôi đã có một chuyến đi Sapa vô cùng mỹ mãn, đặc biệt là được khám phá Fansipan. Một trải nghiệm không bao giờ quên "</p>
          <h4 class="Name ">Anh Kiên</h4>
          <p class="Para ">Nhân viên văn phòng</p>
        </div>
      </div>
    </div>
    
  </div>