<div class="my-5 justify-content-center">
    <div class="container">
      <h2 class="my-3 text-center fw-bold Title">Vì sao chọn T&T Travel</h2>
      <div class="row">
        <div class="col-md-4 text-center feature">
          <img src="../../public/images/Anh_1.png" />
          <h4>Mạng bán tour</h4>
          <p>
            Đầu tiên tại Việt Nam <br />
            Đa dạng – Chất lượng – An toàn
          </p>
        </div>
        <div class="col-md-4 text-center feature">
          <img src="../../public/images/Anh_2.png" />
          <h4>Sản phẩm & Dịch vụ</h4>
          <p>Đa dạng – Chất lượng – An toàn</p>
        </div>
        <div class="col-md-4 text-center feature">
          <img src="../../public/images/Anh_3.png" />
          <h4>Giá cả</h4>
          <p>Luôn có mức giá tốt nhất</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center feature">
          <img src="../../public/images/Anh_4.png" />
          <h4>Đặt tour</h4>
          <p>Dễ dàng & nhanh chóng chỉ với 3 bước</p>
        </div>
        <div class="col-md-4 text-center feature">
          <img src="../../public/images/Anh_5.png" />
          <i class="fas fa-lightbulb"></i>
          <h4>Thanh toán</h4>
          <p>An toàn & linh hoạt</p>
        </div>
        <div class="col-md-4 text-center feature">
          <img src="../../public/images/Anh_6.png" />
          <h4>Hỗ trợ</h4>
          <p>Hotline & trực tuyến (08h00 - 22h00)</p>
        </div>
      </div>
    </div>
  </div>